body {
  background: #252830;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Source Code Pro", sans-serif;
}

.tracer{
  margin: auto;
  height: 100%;
  padding: 15px;

  &__header{
    padding: 15px;
    border-bottom: 1px solid #868e96;
    line-height: 50px;

    & .header__logo{
      display: inline-block;
      padding: 0 20px;
      font-weight: bold;
      font-size: 24px;
      border-right: 1px solid #868e96;
    }

    & .header__user{
      display: inline-block;
      vertical-align: middle;
      padding: 0 20px;
    }

    & .header__menu{
      display: inline-block;
      padding: 0 20px;

      & .menu__link{
        color: white;
      }
    }

    & .header__summary{
      display: inline-block;
      padding: 0 20px;
      border-right: 1px solid #868e96;
    }

    & .header__line{
      display: inline-block;
      margin-right: 10px;
      vertical-align: middle;

      & .block__label{
        font-weight: bold;
        margin-right: 5px;
      }

      & .block__text{
      }
    }

    & .header__block{
      line-height: 25px;
    }
  }

  &__taskBar{
    padding: 15px;
    border-bottom: 1px solid #868e96;
    text-align: center;

    & button{
      cursor: pointer;
    }

    & .top__icon{
      display: inline-block;
      padding: 15px;
      text-align: center;
      user-select: none;

      &--inner{
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        display: inline-block;
        width: 70px;
        height: 70px;
        padding: 20px;
        border-radius: 50px;
        border: 5px solid #1bc98e;
        transition: background-color ease .5s, border-color ease .5s;
      }

      &--normal>div{
        border-color: rgba(255, 255, 255, 0.36)
      }

      &--normal.top__icon--active>div{
        border-color: white;
        background: rgba(255, 255, 255, 0.1)
      }

      &--success>div{
        color: #1bc98e;
        border-color: rgba(27, 201, 142, 0.36)
      }

      &--success.top__icon--active>div{
        border-color: #1bc98e;
        background: rgba(255, 255, 255, 0.1)
      }

      &--error>div{
        color: #e64759;
        border-color: rgba(230, 71, 89, 0.36)
      }

      &--error.top__icon--active>div{
        border-color: #e64759;
        background: rgba(255, 255, 255, 0.1)
      }
    }
  }

  &__editor{

    & .content__input{
    }

    & .content__block{
      text-align: center;

      &--left{
        float: left;
      }

      &--right{
        float: right;
      }
    }

    & .content__link{
      padding: 15px;
    }

    & .content__text{
      padding: 15px;
    }

    & .content__button{
      outline: none !important;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
      cursor: pointer;
    }

    & .CodeMirror{
      background: #1e2127 !important;
      width: 100%;
      color: white;
      height: 30rem;
      border-radius: 5px;
      cursor: text;

      &-gutters{
        background-color: #2b2e34 !important;
      }

      &-linenumber{
        color: white;
      }

      &-vscrollbar{

      }
    }

    & .content__left{
      padding: 15px;
      border-right: 1px solid #868e96;
    }

    & .content__right{
      padding: 15px;
    }

    & .description{
      padding: 10px;

      &__title{
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
      }

      &__text{
        color: #bababa;
        margin-top: 20px;
        padding: 10px 10px 20px 15px;
        border-radius: 5px;
        border: 1px solid #c0c0c0;
      }
    }
  }

  &__footer{
    margin-top: 10px;
    border-top: 1px solid #868e96;
    padding: 15px;

    & .footer__info{
      color: #606060;
      text-align: center;
    }
  }
}